.spinnerContainer {
    display: absolute; /* 'absolute' is not a valid value for display */
    justify-content: center;
    align-items: center;
    height: 20px;
  }
  
  .spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #292828e1; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 500ms linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  